body{

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: blanchedalmond;

}

#board{

    background-color: lightgrey;
    border-bottom: 1px solid black;
}